<assembly xmlns="http://maven.apache.org/ASSEMBLY/2.1.1"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.1.1 http://maven.apache.org/xsd/assembly-2.1.1.xsd">
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <files>
        <file>
            <!-- The jar built by maven-jar-plugin (finalName = CallerView). -->
            <source>${project.build.directory}/${project.build.finalName}.jar</source>
            <outputDirectory>lib</outputDirectory>
            <destName>CallerView.jar</destName>
        </file>
    </files>
</assembly>
